@import '../styles/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;

  @media (max-width: $mobile-m) {
    flex-direction: column;
  }
}

.leftSideContainer {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-m) {
    margin-bottom: 10px;
  }
}

.photo {
  display: inline-flex;
  width: 80px;
  height: 80px;
  margin-right: 15px;
  padding: 2px;
  border: 1px solid #e2e8f0;
  border-radius: 99px;

  @media (max-width: $mobile-xxl) {
    width: 60px;
    height: 60px;
  }

  @media (max-width: $mobile-xl) {
    width: 45px;
    height: 45px;
  }
}

.title {
  display: inline-flex;
  margin: 0;
  font-weight: 700;
  font-size: 1.75rem;
  white-space: nowrap;

  @media (max-width: $mobile-xxl) {
    font-size: 1.5rem;
  }

  @media (max-width: $mobile-xl) {
    font-size: 1.375rem;
  }
}

.navList {
  display: flex;
  margin: 0;
  padding: 0;
}

.navItem {
  display: inline-flex;
  padding: 0 6px;
  list-style: none;

  &:last-child {
    padding-right: 0;
  }
}

.navIcon {
  position: relative;
  top: 2px;
  display: block;
  width: 32px;
  height: 32px;
  transition: fill 150ms ease;
  fill: #a0aec0;

  &:hover {
    fill: #5d656a;
  }

  @media (max-width: $mobile-xxl) {
    width: 30px;
    height: 30px;
  }

  @media (max-width: $mobile-xl) {
    top: 0;
    width: 26px;
    height: 26px;
  }
}
