.section {
  max-width: 820px;
  margin: 10vh auto 0;
  letter-spacing: -.03rem;
}

.sub {
  margin-bottom: 20px;
  color: var(--section-title-color);
  text-transform: uppercase;
}

.desc {
  margin: 0 auto;
  color: var(--text-color);

  & + p {
    margin-top: 20px;
  }
}
