:root {
  --color-contrast-low: hsl(240, 1%, 83%);
  --color-primary-h: 338;
  --color-primary-l: 63%;
  --color-primary-s: 83%;
  --color-white: #ffffff;
  --switch-animation-duration: .2s;
  --switch-height: 32px;
  --switch-padding: 3px;
  --switch-width: 64px;
}

.themeSwitcher {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: var(--switch-width);
  height: var(--switch-height);
  padding: var(--switch-padding) 0;
  border-radius: 50em;
}

.selected,
.label {
  position: absolute;
  top: 0;
  left: 0;
}

.label {
  z-index: 1;
  width: 100%;
  height: 100%;
  color: transparent;
  background-color: var(--color-contrast-low);
  border-radius: inherit;
  transition: background var(--switch-animation-duration);
  user-select: none;
}

.marker {
  position: relative;
  left: var(--switch-padding);
  z-index: 2;
  width: calc(var(--switch-height) - var(--switch-padding) * 2);
  height: calc(var(--switch-height) - var(--switch-padding) * 2);
  background-color: var(--color-white);
  border-radius: 50%;
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, .25);
  transition: left var(--switch-animation-duration);
  pointer-events: none;
  will-change: left;
}

.selected {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;

  &:checked + .label {
    background-color: var(--color-primary);
  }

  &:checked + .label + .marker {
    left: calc(100% - var(--switch-height) + var(--switch-padding));
  }

  &:focus + .label,
  &:active + .label {
    --color-shadow: hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), .2); // iOS 12

    box-shadow: 0 0 0 3px var(--color-shadow);
  }
}
