.sub {
  color: var(--section-title-color);
  text-transform: uppercase;
}

.title {
  margin-bottom: 20px;
}

.emoji {
  margin: 0 15px 0 13px;
}

.desc {
  color: var(--text-color);
}

.navList {
  display: flex;
  margin: 40px 0 0;
  padding: 0;
}

.navItem {
  display: inline-flex;
  margin-right: 30px;
  list-style: none;

  &:last-child {
    margin-right: 0;
  }
}

.navIcon {
  display: block;
  width: auto;
  height: 18px;
  transition: fill 150ms ease;
  fill: var(--white-color);

  &:hover {
    fill: var(--color-primary);
  }
}

.navItemLink {
  color: var(--text-color);
  font-size: 18px;
  letter-spacing: -.01px;
}
