.footer {
  display: flex;
  align-items: center;
  margin: 50px auto;
  color: var(--footer-color);
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: -.15px;
}

.emoji {
  position: relative;
  top: 2px;
  margin: 0 5px 0 10px;
  font-size: .875rem;
}
